<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <add name="StudentDBEntities" connectionString="metadata=res://*/SchoolEntity.csdl|res://*/SchoolEntity.ssdl|res://*/SchoolEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=StudentDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>